<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Account" value="42000042387"/>
    <add key="Password" value="789012"/>
    <add key="MainWindowTitle" value="中信证券金融终端"/>
    <add key="MainWindowClass" value="TdxW_MainFrame_Class"/>
    <add key="QuoteButtonControlId" value="1000"/>
    <add key="MenuButtonControlId" value="3016"/>
  </appSettings>
</configuration>