<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <!-- To enable internal log4net logging specify the following appSettings key -->
    <!-- <add key="log4net.Internal.Debug" value="true"/> -->
    <!-- <add key="log4net.Config" value="log4net.config"/> -->
    <add key="log4net.Config.Watch" value="True"/>
  </appSettings>

  <!-- This section contains the log4net configuration settings -->
  <log4net>
    <appender name="TextBoxAppender" type="TradingClient.TextBoxAppender, TradingClient">
      <layout type="log4net.Layout.PatternLayout" value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline"/>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender, log4net">
      <!--日志文件名开头-->
      <file value="tradingclient.log" />
      <!--是否追加到文件-->
      <appendToFile value="true" />
      <!--混合使用日期和文件大小变换日志文件名-->
      <rollingStyle value="Composite" />
      <!--日期的格式-->
      <datePattern value="yyyyMMdd" />
      <!--最大变换数量-->
      <maxSizeRollBackups value="-1" />
      <!--最大文件大小-->
      <maximumFileSize value="10MB" />
      <!--保持文件扩展名-->
      <preserveLogFileNameExtension value="true" />
      
      <staticLogFileName value="true" />
      
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger &lt;%property{auth}&gt; - %message%newline" />
      </layout>
    </appender>

    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL" />
      <appender-ref ref="TextBoxAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>  
</configuration>